@model InvoiceWebApp.Models.Invoice

@{
    ViewData["Title"] = "Invoice Details";
}

<div class="container" id="details-myinvoice">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Invoice Details</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l12">
            <form>

                <div class="row">
                    <div class="col s12 col m12 col l5">
                        <fieldset>
                            <legend>Invoice Information</legend>

                            @if (Model.DebtorID != null) {
                                <div class="row" id="debtor-row">
                                    <label for="debtor" style="padding-left: 57px;">Debtor</label>
                                    <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="debtor" value="@(Model.Debtor.FullName)" disabled />
                                    </div>
                                </div>
                            }

                            @if (Model.CompanyID != null) {
                                <div class="row" id="company-row">
                                    <label for="company" style="padding-left: 57px;">Company</label>
                                    <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                        <i class="material-icons prefix">business</i>
                                        <input id="company" value="@(Model.Company.CompanyName)" disabled />
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <label for="icon_created" style="padding-left: 57px;">Invoice Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="CreatedOn" id="icon_created createdon" disabled />
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_expired" style="padding-left: 57px;">Expiration Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="ExpirationDate" id="icon_expired expired" disabled />
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 col m12 col l6">
                                    <i class="material-icons prefix">euro_symbol</i>
                                    <input id="total" name="total" type="text" disabled />
                                    <label for="total">Total</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col s12 col m12 col l7">
                        <fieldset>
                            <legend>Products</legend>

                            <div id="products"></div>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div id="button-area">
                        <button id="pay-invoice-btn" type="submit" value="Pay"
                                asp-controller="MyInvoices" asp-action="Pay"
                                asp-route-id="@Model.InvoiceNumber"
                                class="btn-large light-green waves-effect waves-light">
                            <i class="material-icons left">attach_money</i>
                            <span>Pay</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="light-green-text">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //Variables
        var firstRun = true;

        //Run when page has loaded
        $(document).ready(function () {
            $("#products select").material_select();
            $("#debtor-row #select_debtor").material_select();
            $("#company-row #select_company").material_select();

            //Set value of the total amount in the input box
            var totalAmount = "@(ViewBag.Total)";
            $("#total").val(totalAmount);

            //Set product rows is this is the first run
            if (firstRun == true) {
                setRows();
            }
        });

        //-------------------------------------------------------------------------------------------
        //Create new product rows based on the products selected when creating this invoice
        function setRows() {
            var pids = new Array();
            var amounts = new Array();
            var pnames = new Array();

            @foreach (var pid in ViewBag.PIDs)
            {
                @:pids.push('@(pid)');
            }
            @foreach (var amount in ViewBag.Amounts)
            {
                @:amounts.push('@(amount)');
            }
            @foreach (var name in ViewBag.Names)
            {
                @:pnames.push('@(name)');
            }

            for (var i = 0; i < amounts.length; i++) {
                var amount = amounts[i];

                var html = `
                    <div id="product-row-` + i + `" class="row">
                        <div class="input-field col s12 col m8 col l8">
                            <input id="_product-` + i + `" disabled/>
                        </div>

                        <div class="input-field col s8 col m2 col l2">
                            <input id="_amount" placeholder="Qnt." value="` + amount + `" disabled />
                        </div>
                    </div>
                `;

                $("#products").append(html);
            }

            for (var i = 0; i < amounts.length; i++) {
                var pid = pids[i];
                var pname = pnames[i];

                var element = "#products #product-row-" + i.toString() + " #_product-" + i.toString();

                $(element).prop("value", pname);
                $(element).prop("disabled", true);

                //Reset variables
                pid = "";
                pname = "";
            }
        }

        //-------------------------------------------------------------------------------------------
        //Pay this invoice
        $("#pay-invoice-btn").on("click", function () {
            var id = @(Model.InvoiceNumber);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Pay")',
                data: {
                    id: id
                },
                success: function() { alert('Thank you for paying!'); window.location.href='@Url.Action("Index")'; },
                error: function() { alert('An error occured while paying. Please try again!');}
            });
        })
    </script>
}