@model IEnumerable<InvoiceWebApp.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<div class="container grey lighten-4" id="company-index">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Companies</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 col m12">
            <p>
                @using (Html.BeginForm()) {
                    <br />

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="form-inline">
                                @Html.TextBox("searchQuery", null, htmlAttributes: new { @class = "form-control", @placeholder = "Find..." })

                                <button type="submit" value="Search" class="btn btn-primary tooltipped"
                                        data-position="top" data-delay="50" data-tooltip="Search for Company">
                                    <span class="fa fa-search"></span>
                                    Search
                                </button>

                                <a asp-action="Create" value="Create Company" class="btn btn-primary tooltipped"
                                   data-position="top" data-delay="50" data-tooltip="Create Company" style="float:right;">
                                    <span class="fa fa-user-plus fa-lg"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                }
            </p>

            <table class="responsive-table borderd highlight">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RegNumber)
                        </th>
                        <th>
                            @Html.ActionLink("Company Name", "Index", new { sortOrder = ViewBag.CompanyNameSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegNumber)
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.CompanyID"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </a>
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.CompanyID"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </a>
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.CompanyID"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.City)
                                </a>
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.CompanyID"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.Country)
                                </a>
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Edit" asp-route-id="@item.CompanyID"
                                   data-position="top" data-delay="50" data-tooltip="Edit Company"
                                   style="padding-right: 2px;">
                                    <i class="material-icons green-text">edit</i>
                                </a>
                                <a class="tooltipped" asp-action="Delete" asp-route-id="@item.CompanyID"
                                   data-position="right" data-delay="50" data-tooltip="Remove Company"
                                   style="padding-left: 2px;">
                                    <i class="material-icons red-text">delete</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip({ delay: 50 });
        });
    </script>
}