@model IEnumerable<InvoiceWebApp.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Companies</h1>
                <hr style="width:60%;border-top:2px solid #fff;" />
            </div>
        </div>

        <div class="main-large main-center">
            <p>
                @using (Html.BeginForm())
                {
                    <br />

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="form-inline">
                                @Html.TextBox("searchQuery", null, htmlAttributes: new { @class = "form-control", @placeholder = "Find..." })

                                <button type="submit" value="Search" class="btn btn-primary">
                                    <span class="fa fa-search"></span>
                                    Search
                                </button>

                                <a asp-action="Create" value="Create Company" class="btn btn-primary"                           style="float:right;">
                                    <span class="fa fa-user-plus fa-lg"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                }
            </p>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RegNumber)
                        </th>
                        <th>
                            @Html.ActionLink("Company Name", "Index", new { sortOrder = ViewBag.CompanyNameSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegNumber)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.CompanyID">
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.CompanyID">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.CompanyID">
                                    @Html.DisplayFor(modelItem => item.City)
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.CompanyID">
                                    @Html.DisplayFor(modelItem => item.Country)
                                </a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CompanyID">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>