@using static InvoiceWebApp.Models.AppSettings
@model InvoiceWebApp.Models.User

@{
    ViewData["Title"] = "Register User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }
}

<div class="container" id="create-user">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 0px;">Create User</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col col m10 offset-m1">
            <form asp-controller="Users" asp-action="Create">

                <fieldset>
                    <legend>Personal Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">person_outline</i>
                            @Html.TextBoxFor(m => m.Debtor.FirstName, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">person_outline</i>
                            @Html.TextBoxFor(m => m.Debtor.LastName, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_prefix" type="email" asp-for="Email" class="validate" disabled>
                            <label for="icon_prefix">Email</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">lock</i>
                            <input id="icon_prefix" type="text" asp-for="Password" class="validate" disabled>
                            <label for="icon_prefix">Password</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Address</legend>
                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.Address, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Address</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.PostalCode, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Postal Code</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.City, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">City</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.Country, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Country</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="input-field col s12 col m4 offset-m2">
                        <i class="material-icons prefix">place</i>
                        @Html.TextBoxFor(m => m.Debtor.Address, new { @id = "icon_prefix", @disabled = "disabled" })
                        <label for="icon_prefix">Address</label>
                    </div>
                    <div class="input-field col s12 col m4">
                        <i class="material-icons prefix">place</i>
                        @Html.TextBoxFor(m => m.Debtor.PostalCode, new { @id = "icon_prefix", @disabled = "disabled" })
                        <label for="icon_prefix">Postal Code</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 col m4 offset-m2">
                        <i class="material-icons prefix">place</i>
                        @Html.TextBoxFor(m => m.Debtor.City, new { @id = "icon_prefix", @disabled = "disabled" })
                        <label for="icon_prefix">City</label>
                    </div>
                    <div class="input-field col s12 col m4">
                        <i class="material-icons prefix">place</i>
                        @Html.TextBoxFor(m => m.Debtor.Country, new { @id = "icon_prefix", @disabled = "disabled" })
                        <label for="icon_prefix">Country</label>
                    </div>
                </div>

                <div class="divider" style="background-color: #cecece;"></div>

                <div class="row">
                    <div id="button-area">
                        <button id="create-user-btn" type="submit" value="Create"
                                class="btn-large indigo darken-1 waves-effect waves-light">
                            <i class="material-icons left">create</i>
                            <span>Create</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="indigo-text text-darken-1">Back to Overview</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>