@using System.Diagnostics
@using InvoiceWebApp.Data
@model InvoiceWebApp.Models.User
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Remove User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings")) {
        Debug.WriteLine("Settings exists");
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }
    if (!SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = _context.Settings.FirstOrDefault();
        SessionHelper.Set(Context.Session, "Settings", settings);
    }
}

<div class="container" id="remove-user">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Remove User</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col col m10 offset-m1">
            <form asp-controller="Users" asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this user?');">
                <input type="hidden" asp-for="ID" />

                <fieldset>
                    <legend>Personal Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">person_outline</i>
                            @Html.TextBoxFor(m => m.Debtor.FirstName, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">person_outline</i>
                            @Html.TextBoxFor(m => m.Debtor.LastName, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_prefix" type="email" asp-for="Email" class="validate" disabled>
                            <label for="icon_prefix">Email</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">lock</i>
                            <input id="icon_prefix" type="text" asp-for="Password" class="validate" disabled>
                            <label for="icon_prefix">Password</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Address</legend>
                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.Address, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Address</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.PostalCode, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Postal Code</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m4 offset-m2">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.City, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">City</label>
                        </div>
                        <div class="input-field col s12 col m4">
                            <i class="material-icons prefix">place</i>
                            @Html.TextBoxFor(m => m.Debtor.Country, new { @id = "icon_prefix", @disabled = "disabled" })
                            <label for="icon_prefix">Country</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div id="button-area">
                        <button id="remove-user-btn" type="submit" value="Remove"
                                class="btn-large light-green waves-effect waves-light">
                            <i class="material-icons left">delete</i>
                            <span>Remove</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="light-green-text">Back to Overview</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>