@model InvoiceWebApp.Models.Invoice

@{
    ViewData["Title"] = "Manage Invoice";
    var cnt = 0;
}

<div class="container" id="edit-invoice">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Manage Invoice</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l12">
            <form id="form" asp-controller="Invoices" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InvoiceNumber" />

                <div class="row">
                    <div class="col s12 col m12 col l5">
                        <fieldset>
                            <legend>Invoice Information</legend>

                            <div class="row" id="debtor-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">perm_identity</i>
                                    @Html.DropDownListFor(m => m.DebtorID, (SelectList)ViewBag.DebtorID,
                                                "Select Debtor", new { @id = "select_debtor", @disabled = "disabled" })
                                    <label for="select_debtor">Choose Debtor</label>
                                </div>
                            </div>

                            <div class="row" id="company-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">business</i>
                                    @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.CompanyID,
                                                "Select Company", new { @id = "select_company", @disabled = "disabled" })
                                    <label for="select_company">Choose Company</label>
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_created" style="padding-left: 57px;">Invoice Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="CreatedOn" id="icon_created" />
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_expired" style="padding-left: 57px;">Invoice Expiration Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="ExpirationDate" id="icon_expired" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 col m12 col l6">
                                    <i class="material-icons prefix">euro_symbol</i>
                                    <input id="total" name="total" type="text" disabled />
                                    <label for="total">Total</label>
                                </div>
                            </div>

                            <div class="row" id="type-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">save</i>
                                    <select id="select_type" asp-for="Type">
                                        <option value="Concept">Concept</option>
                                        <option value="Final">Final</option>
                                    </select>
                                    <label for="select_type">Save As</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col s12 col m12 col l7">
                        <fieldset>
                            <legend>Products</legend>

                            <div id="products">
                                <div id="product-control" class="row">
                                    <div class="input-field col s12 col m8 col l8">
                                        <select id="_product" asp-items="ViewBag.Products">
                                            <option value="-1">--</option>
                                        </select>
                                        <label>Product</label>
                                    </div>

                                    <div class="input-field col s8 col m2 col l2">
                                        <input id="_amount" placeholder="Qnt." />
                                    </div>

                                    <div class="input-field col s4 col m2 col l2">
                                        <a href="#" id="delete-row-btn"
                                           class="btn red darken-1 waves-effect waves-light">
                                            <i class="material-icons">remove</i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <a href="#" id="add-row-btn" class="btn light-green waves-effect waves-light">
                                <i class="material-icons">add</i>
                            </a>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div id="button-area">
                        <button id="edit-invoice-btn" type="button" value="Save"
                                class="btn-large light-green waves-effect waves-light">
                            <i class="material-icons left">save</i>
                            <span>Save</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="light-green-text">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //Variables
        var firstRun = true;
        var total = t;
        var count = 0;
        var productArray = new Array();
        var amountArray = new Array();

        //Hide product-control row
        $("#product-control").hide();

        //Run when page has loaded
        $(document).ready(() => {
            $("#products select").material_select();
            $("#debtor-row #select_debtor").material_select();
            $("#company-row #select_company").material_select();
            $("#type-row #select_type").material_select();

            //Set value of the total amount in the input box
            var totalAmount = "@(ViewBag.Total)";
            $("#total").val(totalAmount);

            //Set product rows is this is the first run
            if (firstRun == true) {
                setRows();
            }
        });

        //-------------------------------------------------------------------------------------------
        // Automatically set expiration date based on selected invoice date
        $("#icon_created").on("change", () => {
            var selectedDate = new Date($("#icon_created").val());

            var day = selectedDate.getDate() + 30;
            var month = selectedDate.getMonth() + 1;
            var year = selectedDate.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;
            $("#icon_expired").val(today);
        });

        //-------------------------------------------------------------------------------------------
        //Calculate the total amount when adding a new product
        $("#products option:selected").each(() => {
            $("#product").on('change', () => {
                calcTotal();
            });
        })

        $(document).on("change", "#products option:selected", () => {
            calcTotal();
        });

        //-------------------------------------------------------------------------------------------
        //Calculate the total amount when changing the amount of product(s)
        $("#products #_amount").on('change', () => {
            calcTotal();
        });

        $(document).on("change", "#products #_amount", () => {
            calcTotal();
        });

        //-------------------------------------------------------------------------------------------
        //Add parameters to form and submit
        $("#edit-invoice-btn").on("click", () => {
            $("#products option:selected").each(function () {
                productArray.push($(this).val().split('_')[0]);
            });

            $("#products [id^=_product-]").each(function () {
                var text = $(this).val();
                var id = $(this).attr("id");
                var pid = id.split("x")[1];

                productArray.push(pid);
            });

            $("#products #_amount").each(function () {
                amountArray.push($(this).val());
            });

            productArray.splice(0, 1);
            amountArray.splice(0, 1);

            var totalPrice = $("#total").val();

            $("#form").append('<input type="hidden" name="total" value="' + totalPrice + '" /> ');
            $("#form").append('<input type="hidden" name="pids" value="' + productArray.toString() + '" /> ');
            $("#form").append('<input type="hidden" name="amounts" value="' + amountArray.toString() + '" /> ');

            $("#form").submit();
        });

        //-------------------------------------------------------------------------------------------
        //Add a new product row
        $("#add-row-btn").on("click", function () {
            @{cnt++;}

            $("#product-control").show();
            var copy = $("#product-control")
                .clone(true)
                .appendTo("#products")
                .prop("id", "product-row")
                .find("input").val("");

            $("#product-control").hide();
            $("#products #product-row select").material_select();
        });

        //-------------------------------------------------------------------------------------------
        //Remove a product row
        $(document).on("click", "#delete-row-btn", function () {
            @{cnt--;}
            $(this).parent().parent().remove();

            calcTotal();
        })

        //-------------------------------------------------------------------------------------------
        //Create new product rows based on the products selected when creating this invoice
        function setRows() {
            var pids = new Array();
            var amounts = new Array();
            var pnames = new Array();

            @foreach (var pid in ViewBag.PIDs)
            {
                @:pids.push('@(pid)');
            }
            @foreach (var amount in ViewBag.Amounts)
            {
                @:amounts.push('@(amount)');
            }
                @foreach (var name in ViewBag.Names)
            {
                @:pnames.push('@(name)');
            }

            for (var i = 0; i < amounts.length; i++) {
                var amount = amounts[i];
                var pid = pids[i];

                var elementID = "_product-" + i.toString() + "x" + pid.split("_")[0];

                var html = `
                    <div id="product-row-` + i + `" class="row">
                        <div class="input-field col s12 col m8 col l8">
                            <input id="` + elementID.toString() + `"  />
                        </div>

                        <div class="input-field col s8 col m2 col l2">
                            <input id="_amount" placeholder="Qnt." value="` + amount + `" disabled />
                        </div>

                        <div class="input-field col s4 col m2 col l2">
                            <a href="#" id="delete-row-btn"
                                class="btn red darken-1 waves-effect waves-light">
                                <i class="material-icons">remove</i>
                            </a>
                        </div>
                    </div>
                `;

                $("#products").append(html);
            }

            for (var i = 0; i < amounts.length; i++) {
                var pid = pids[i];
                var pname = pnames[i];

                var element = "#products #product-row-" + i.toString() + " #_product-" + i.toString() + "x" + pid.split("_")[0];

                $(element).prop("value", pname);
                $(element).prop("disabled", true);

                pid = "";
                pname = "";
            }

            @{cnt++; }
        }

        //-------------------------------------------------------------------------------------------
        //Calculate total amount based on selected products and their quantities
        function calcTotal() {
            var amounts = new Array();
            var pids = new Array();
            var totalPrice = Number.parseFloat("0");

            $("#products option:selected").each(function () {
                var id = $(this).val();
                pids.push($(this).val());
            });

            $("#products [id^=_product-]").each(function () {
                var text = $(this).val();
                var id = $(this).attr("id");
                var pid = id.split("x")[1];

                pids.push(pid);
            });

            $("#products #_amount").each(function () {
                var amount = $(this).val();
                amounts.push($(this).val());
            });

            pids.splice(0, 1);
            amounts.splice(0, 1);

            for (var i = 0; i < pids.length; i++) {
                var id = pids[i].split('_')[0];
                var p = pids[i].split('_')[1];
                var price = Number.parseFloat(p).toFixed(2);
                var amount = Number.parseInt(amounts[i]);

                totalPrice += (price * amount);
            }

            $("#total").prop("readonly", false);
            $("#total").val(totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 }));
            total = totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 });

            $("#total").prop("readonly", true);
        }
    </script>
}