@model IEnumerable<InvoiceWebApp.Models.Invoice>

@{
    ViewData["Title"] = "Invoices";
}

<div class="container grey lighten-4" id="invoice-index">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Invoices</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 col m12">
            <p>
                @using (Html.BeginForm()) {
                    <br />

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="form-inline">
                                @Html.TextBox("searchQuery", null, htmlAttributes: new { @class = "form-control", @placeholder = "Find..." })

                                <button type="submit" value="Search" class="btn btn-primary tooltipped"
                                        data-position="top" data-delay="50" data-tooltip="Search for Invoice">
                                    <span class="fa fa-search"></span>
                                    Search
                                </button>

                                <a asp-action="Create" value="Create Invoice" class="btn btn-primary tooltipped"
                                   data-position="top" data-delay="50" data-tooltip="Create Invoice" style="float:right;">
                                    <span class="fa fa-file-text fa-lg"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                }
            </p>

            <table class="responsive-table borderd highlight">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Invoice Number", "Index", new { sortOrder = ViewBag.NumberSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Debtor", "Index", new { sortOrder = ViewBag.DebtorSortParm })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpirationDate)
                        </th>
                        <th>
                            @Html.Raw("Status")
                        </th>
                        <th>
                            @Html.Raw("<b>Paid</b>")
                        </th>
                        <th>
                            @Html.ActionLink("Total", "Index", new { sortOrder = ViewBag.TotalSortParm })
                        </th>
                        <th>
                            @Html.Raw("Products")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.InvoiceNumber"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debtor.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpirationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @if (item.Paid == true) {
                                    @Html.Raw("Yes")
                                } else {
                                    @Html.Raw("No")
                                }
                            </td>
                            <td>
                                @Html.Raw(String.Format("{0:C2}", item.Total))
                            </td>
                            <td>
                                @foreach (var items in item.InvoiceItems) {
                                    Product product = items.Product;
                                    @Html.Raw(items.Amount + "x " + product.Name + "<br />")
                                }
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Edit" asp-route-id="@item.InvoiceNumber"
                                   data-position="top" data-delay="50" data-tooltip="Edit Invoice"
                                   style="padding-right: 2px;">
                                    <i class="material-icons green-text">edit</i>
                                </a>
                                <a class="tooltipped" asp-action="Delete" asp-route-id="@item.InvoiceNumber"
                                   data-position="right" data-delay="50" data-tooltip="Remove Invoice"
                                   style="padding-left: 2px;">
                                    <i class="material-icons red-text">delete</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip({ delay: 50 });
        });
    </script>
}