@model IEnumerable<InvoiceWebApp.Models.Admin>

@{
    ViewData["Title"] = "Admins";
}

<div class="container" id="admin-index">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Administrators</h4>
        </div>
    </div>

    <br />

    <!--Top Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12">
            @using (Html.BeginForm()) {
                <!--Spacer-->
                <div class="col l2"></div>

                <!--Input-->
                <div class="input-field col s12 col m12 col l4" id="search-form">
                    <input id="searchQuery" type="text" placeholder="Search..." style="max-width: 300px;">
                </div>

                <!--Buttons-->
                <div class="input-field col s12 col m12 col l4 center-align" id="button-field">
                    <button id="search-admin-btn" type="submit" value="Search"
                            class="btn-large light-green tooltipped waves-effect waves-light"
                            data-position="top" data-delay="50" data-tooltip="Search for Admin">
                        <i class="material-icons">search</i>
                    </button>

                    <a id="add-admin-btn" asp-action="Create" value="Create Admin"
                       class="btn-large light-green tooltipped waves-effect waves-light"
                       data-position="top" data-delay="50" data-tooltip="Create Admin">
                        <i class="material-icons">add_box</i>
                    </a>
                </div>

                <!--Spacer-->
                <div class="col l2"></div>
            }
        </div>
    </div>

    <div class="divider" style="background-color:#c2c2c2;margin-bottom:35px;"></div>

    <div class="row">
        <div class="col s12 col m12">
            <table class="responsive-table bordered highlight">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AdminID)
                        </th>
                        <th>
                            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdminID)
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.AdminID"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </a>
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Details" asp-route-id="@item.AdminID"
                                   data-position="top" data-delay="50" data-tooltip="View Details">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <a class="tooltipped" asp-action="Edit" asp-route-id="@item.AdminID"
                                   data-position="top" data-delay="50" data-tooltip="Edit Admin"
                                   style="padding-right: 2px;">
                                    <i class="material-icons green-text">edit</i>
                                </a>
                                <a class="tooltipped" asp-action="Delete" asp-route-id="@item.AdminID"
                                   data-position="right" data-delay="50" data-tooltip="Remove Admin"
                                   style="padding-left: 2px;">
                                    <i class="material-icons red-text">delete</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip({ delay: 50 });
        });
    </script>
}