@using InvoiceWebApp.Data
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject ApplicationDbContext _context

@{
    User user = null;
    Admin admin = null;
    AppSettings settings = null;

    //Check for user
    if (SessionHelper.IsExists(Context.Session, "User")) {
        user = (User)Context.Session.Get<User>("User");
    }

    //Check for admin
    if (SessionHelper.IsExists(Context.Session, "Admin")) {
        admin = (Admin)Context.Session.Get<Admin>("Admin");
    }

    //Check for settings
    if (SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    } else {
        settings = _context.Settings.FirstOrDefault();
        SessionHelper.Set(Context.Session, "Settings", settings);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.CompanyName</title>

    <environment names="Development">
        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />-->
        <!-- Compiled and minified Materialze CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/site.css" />

        <!--Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Awesome Font-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <!--<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />-->
        <!-- Compiled and minified Materialze CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/site.css" />

        <!--Awesome Font-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    </environment>
    @RenderSection("HEAD", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="navbar-fixed">

        <!--Debtor dropdown-->
        <ul id="dropdown-debtor" class="dropdown-content collapsible collapsible-accordion">
            <li class="@(ViewBag.Current == "Debtors" ? "active" : "")">
                <a asp-area="" asp-controller="Debtors" asp-action="Index">Persons</a>
            </li>
            <li class="@(ViewBag.Current == "Companies" ? "active" : "")">
                <a asp-area="" asp-controller="Companies" asp-action="Index">Companies</a>
            </li>
        </ul>

        <!--Mobile Nav-->
        <ul id="mobile-nav" class="side-nav">
            <!--Check if user exist-->
            @if (user != null) {
                <li class="@(ViewBag.Current == "Home" ? "active" : "")">
                    <a asp-area="" asp-controller="Home" asp-route-email="@(user.Email)"
                       asp-action="Index">Home</a>
                </li>
            } else {
                <li class="@(ViewBag.Current == "Home" ? "active" : "")">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            }
            <!--Check if admin exist-->
            @if (admin != null) {
                <!--Debtors-->
                <li>
                    <ul id="dropdown-debtor-slide" class="collapsible collapsible-accordion">
                        <li>
                            <a href="#" class="collapsible-header" style="padding-left: 31px;">
                                Debtors
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li class="@(ViewBag.Current == "Debtors" ? "active" : "")">
                                        <a asp-area="" asp-controller="Debtors" asp-action="Index">Persons</a>
                                    </li>
                                    <li class="@(ViewBag.Current == "Companies" ? "active" : "")">
                                        <a asp-area="" asp-controller="Companies" asp-action="Index">Companies</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--Products-->
                    <li class="@(ViewBag.Current == "Products" ? "active" : "")">
                        <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                <!--Invoices-->
                    <li class="@(ViewBag.Current == "Invoices" ? "active" : "")">
                        <a asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a>
                    </li>
                <!--Admins-->
                    <li class="@(ViewBag.Current == "Admins" ? "active" : "")">
                        <a asp-area="" asp-controller="Admins" asp-action="Index">Admins</a>
                    </li>
            }
            <!--Check if user exist-->
            @if (user != null) {
                <!--My Invoices-->
                <li class="@(ViewBag.Current == "MyInvoices" ? "active" : "")">
                    <a asp-area="" asp-controller="MyInvoices" asp-action="Index">Invoices</a>
                </li>
            }
            <!--Contact-->
            <li class="@(ViewBag.Current == "Contact" ? "active" : "")">
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <!--Login/Logout button mobile-->
            <li>
                <button type="submit" id="account-btn-mobile" asp-controller="Users" asp-action="Login"
                        class="btn-flat waves-effect waves-default"></button>
            </li>
        </ul>

        <!--Navbar-->
        <nav class="blue-grey darken-1">
            <div class="nav-wrapper container">
                @if (user != null) {
                    <a href="#" class="brand-logo" asp-controller="Home" asp-action="Index"
                       asp-route-email="@(user.Email)">
                        <!--BEGIN OF LOGO-->
                        @if (settings.Logo != "" && settings.UseLogo == true) {
                            <img src="~/images/@(settings.Logo)" class="responsive-img" data-adaptive-background />
                        }
                        @if (settings.UseLogo == false || settings.Logo == "") {
                            @settings.CompanyName
                        }
                        <!--END OF LOGO-->
                    </a>
                }
                @if (admin != null) {
                    <a class="brand-logo" asp-controller="Home" asp-action="Index"
                       asp-route-email="@(admin.Email)">
                        <!--BEGIN OF LOGO-->
                        @if (settings.Logo != "" && settings.UseLogo == true) {
                            <img src="~/images/@(settings.Logo)" class="responsive-img" data-adaptive-background />
                        }
                        @if (settings.UseLogo == false || settings.Logo == "") {
                            @settings.CompanyName
                        }
                        <!--END OF LOGO-->
                    </a>
                } else {
                    <a class="brand-logo" asp-controller="Home" asp-action="Index"
                       asp-route-email="">
                        <!--BEGIN OF LOGO-->
                        @if (settings.Logo != "" && settings.UseLogo == true) {
                            <img src="~/images/@(settings.Logo)" class="responsive-img" data-adaptive-background />
                        }
                        @if (settings.UseLogo == false || settings.Logo == "") {
                            @settings.CompanyName
                        }
                        <!--END OF LOGO-->
                    </a>
                }

                <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!--Check if user exist-->
                    @if (user != null) {
                        <li class="@(ViewBag.Current == "Home" ? "active" : "")">
                            <a asp-area="" asp-controller="Home" asp-route-email="@(user.Email)"
                               asp-action="Index">Home</a>
                        </li>
                    } else {
                        <li class="@(ViewBag.Current == "Home" ? "active" : "")">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    }
                    <!--Check if admin exist-->
                    @if (admin != null) {
                        <!--Debtors-->
                        <li>
                            <a class="dropdown-button" href="#!" data-activates="dropdown-debtor">
                                Debtors
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                        <!--Products-->
                            <li class="@(ViewBag.Current == "Products" ? "active" : "")">
                                <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                        <!--Invoices-->
                            <li class="@(ViewBag.Current == "Invoices" ? "active" : "")">
                                <a asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a>
                            </li>
                        <!--Admins-->
                            <li class="@(ViewBag.Current == "Admins" ? "active" : "")">
                                <a asp-area="" asp-controller="Admins" asp-action="Index">Admins</a>
                            </li>
                    }
                    <!--Check if user exist-->
                    @if (user != null) {
                        <!--My Invoices-->
                        <li class="@(ViewBag.Current == "MyInvoices" ? "active" : "")">
                            <a asp-area="" asp-controller="MyInvoices" asp-action="Index">Invoices</a>
                        </li>
                    }
                    <!--Contact-->
                    <li class="@(ViewBag.Current == "Contact" ? "active" : "")">
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>

                    <!--Login/Logout button-->
                    <li>
                        <button type="submit" id="account-btn" asp-controller="Users" asp-action="Login"
                                class="btn-flat waves-effect waves-default tooltipped"
                                data-position="bottom" data-delay="50" data-tooltip="Sign in">
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="divider"></div>

    <footer class="page-footer blue-grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year @settings.CompanyName All Rights Reserved.
            </div>
        </div>
    </footer>

    <environment names="Development">
        <!--<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>-->
        <!--jQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Compiled and minified JavaScript Materialize CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

        <!--jQuery Adaptive Background Script-->
        <script src="~/js/jquery-adaptive-background.js"></script>

        <!--Site JS-->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <!--<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>-->
        <!--jQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Compiled and minified JavaScript Materialize CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

        <!--jQuery Adaptive Background Script-->
        <script src="~/js/jquery-adaptive-background.js"></script>

        <!--Site JS-->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(() => {
            $(".button-collapse").sideNav();
            $(".collapsible").collapsible();
            $('.tooltipped').tooltip({ delay: 50 });

            var isLoggedIn = false;
            var width = $(window).width();
            var button = $(".navbar-fixed #account-btn");
            var mobileButton = $(".navbar-fixed #account-btn-mobile");

            @if (user != null || admin != null) {
                <text>
                    isLoggedIn = true;
                </text>
            }

            //Account button non-mobile
            if (isLoggedIn == true && width > 768) {
                button.css("color", "#e53935", "important");
                button.html(`<i class="fa fa-sign-out" style="text-shadow: 0px 0px 3px #000;"></i>`);

                button.attr("data-tooltip", "Sign out");
                button.tooltip();

                button.attr("onclick", "location.href='@Url.Action("Logout", "Users")'");
            } else if (isLoggedIn == false && width > 768) {
                button.css("color", "#64dd17", "important");
                button.html(`<i class="fa fa-sign-in" style="text-shadow: 0px 0px 3px #000;"></i>`);

                button.attr("data-tooltip", "Sign in");
                button.tooltip();

                button.attr("onclick", "location.href='@Url.Action("Login", "Users")'");
            }

            //Account button mobile
            if (isLoggedIn == true && width <= 768) {
                mobileButton.css("background", "#e53935", "important");
                mobileButton.css("color", "#fff", "important");

                mobileButton.html(`<span>Log out</span>`);
                mobileButton.attr("onclick", "location.href='@Url.Action("Logout", "Users")'");
            } else if (isLoggedIn == false && width <= 768) {
                mobileButton.css("background", "#64dd17", "important");
                mobileButton.css("color", "#fff", "important");

                mobileButton.html(`<span>Log in</span>`);
                mobileButton.attr("onclick", "location.href='@Url.Action("Login", "Users")'");
            }

        });
    </script>
</body>
</html>