@using InvoiceWebApp.Data
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject ApplicationDbContext _context

@{
    User user = null;
    Admin admin = null;
    AppSettings settings = null;

    //Check for user
    if (SessionHelper.IsExists(Context.Session, "User")){
        user = (User)Context.Session.Get<User>("User");
    }

    //Check for admin
    if (SessionHelper.IsExists(Context.Session, "Admin")){
        admin = (Admin)Context.Session.Get<Admin>("Admin");
    }

    //Check for settings
    if (SessionHelper.IsExists(Context.Session, "Settings")){
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    } else {
        settings = _context.Settings.FirstOrDefault();
        SessionHelper.Set(Context.Session, "Settings", settings);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.CompanyName</title>

    <environment names="Development">
        <!--Stylesheets-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <!--Awesome Font-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

        <!--jQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--jQuery Adaptive Background Script-->
        <script src="~/js/jquery-adaptive-background.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--Stylesheets-->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <!--Awesome Font-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

        <!--jQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--jQuery Adaptive Background Script-->
        <script src="~/js/jquery-adaptive-background.js"></script>
    </environment>
    @RenderSection("HEAD", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!------------------------------------------------------------------>
                <!--User-->
                <!--Use logo and check if user exists-->
                @if (settings.Logo != "" && settings.UseLogo == true && user != null) {
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-email="@(user.Email)" 
                       class="navbar-brand">
                        <img src="~/images/@(settings.Logo)" class="img-responsive" data-adaptive-background/>
                    </a>
                }
                <!--Use logo and check if user doesn't exists-->
                @if (settings.Logo != "" && settings.UseLogo == true && user == null){
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img src="~/images/@(settings.Logo)" class="img-responsive" data-adaptive-background />
                    </a>
                }
                <!--Don't use logo and check if user exists-->
                @if (settings.UseLogo == false && user != null){
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-email="@(user.Email)" 
                       class="navbar-brand navtext">
                        @settings.CompanyName
                    </a>
                }
                <!--Don't use logo and check if user doesn't exists-->
                @if (settings.UseLogo == false && (user == null && admin == null)){
                    <a asp-area="" asp-controller="Home" asp-action="Index" 
                       class="navbar-brand navtext">
                        @settings.CompanyName
                    </a>
                }
                <!------------------------------------------------------------------>
                <!--Admin-->
                <!--Use logo and check if admin exists-->
                @if (settings.Logo != "" && settings.UseLogo == true && admin != null){
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-email="@(admin.Email)" class="navbar-brand">
                        <img src="~/images/@(settings.Logo)" class="img-responsive" data-adaptive-background />
                    </a>
                }
                <!--Use logo and check if admin doesn't exists-->
                @if (settings.Logo != "" && settings.UseLogo == true && admin == null){
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img src="~/images/@(settings.Logo)" class="img-responsive" data-adaptive-background />
                    </a>
                }
                <!--Don't use logo and check if admin exists-->
                @if (settings.UseLogo == false && admin != null){
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-email="@(admin.Email)" class="navbar-brand navtext">
                        @settings.CompanyName
                    </a>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--Check if user exist-->
                    @if (user != null){<li><a asp-area="" asp-controller="Home" asp-route-email="@(user.Email)" 
                                              asp-action="Index">Home</a></li> }
                    else { <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li> }
                    <!--Check if admin exist-->
                    @if (admin != null){
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Debtors<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Debtors" asp-action="Index">Persons</a></li>
                                <li><a asp-area="" asp-controller="Companies" asp-action="Index">Companies</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                        <li><a asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
                    }
                    <!--Check if user exist-->
                    @if (user != null){ <li><a asp-area="" asp-controller="MyInvoices" asp-action="Index">Invoices</a></li> }

                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; 2017 - @settings.CompanyName</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
